<h2>Sign Up</h2>

<% if @user.errors.full_messages.any? %>
	<ul class="errormessages">
		<% @user.errors.full_messages.each do |error| %>
			<li>
				<%= error %>
			</li>
		<% end %>
	</ul>
<% end %>

<div class="formdiv">
	<%=form_for @user do |f| %>
		<%= f.label :email, "Email" %>
		<br>
		<%= f.text_field :email %>
		<br>
		<%= f.label :email_confirmation, "Confirm Email" %>
		<br>
		<%= f.text_field :email_confirmation %>
		<br>
		<%= f.label :fname, "First Name" %>
		<br>
		<%= f.text_field :fname %>
		<br>
		<%= f.label :password, "Password" %>
		<br>
		<%= f.password_field :password %>
		<br>
		<%= f.label :password_confirmation, "Confirm Password" %>
		<br>
		<%= f.password_field :password_confirmation %>
		<br>
		<%= f.submit "Sign Up", :class => "submit" %>
	<% end %>
</div>